@import './theme/default/index.less';

.idoll-menu-item {
	padding-left: 30px !important;
}
// resume
.dark {
  // :global {
    .idoll-select-selection {
      background: @primary-color;
      color: #fff;
    }
  // }
}

.ml8 {
  margin-left: 8px;
}
.mr8 {
	margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml16 {
  margin-left: 16px;
}
.mr24 {
  margin-right: 24px;
}
.active {
	color: @primary-color !important;
}
.active_bg {
	background: @primary-color !important;
  color: #fff;
}

