.filter_step {
  width: 100%;
  display: flex;
  margin-top: 16px;
  margin-bottom: 32px;
  height: 100px;
  .filter_group {
    display: flex;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    width: 100%;
    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 2;
      height: 100%;
      p {
        cursor: pointer;
        width: 100%;
        position: relative;
        text-align: center;
      }
    }
  }
}
